<br>
<h4> Application Form </h4>
  <form action="/jobs/{{job['id']}}/apply" method="post">
    <div class="mb-3">
    <label>Full Name : </label>
    <input type="text" class="form-control" name="full_name" placeholder="Batman"><br></div>
    <div class="mb-3">
    <label>Email : </label>
    <input type="email" class="form-control" name="email" placeholder="ztejd@example.com"><br></div>
    <div class="mb-3">
    <label>linkedin : </label>
    <input type="text" class="form-control" name="linkedin_url" placeholder="https://www.linkedin.com/in">
        <br></div>
    <div class="mb-3">
      <label>Resume link : </label>
      <input type="text" class="form-control" name="resume_url">
          <br></div>
    <div class="mb-3">
      <label>Education : </label>
      <textarea name="education" class="form-control"></textarea><br></div>

      <div class="mb-3">
      <label>Experience : </label>
      <textarea name="work_experience" class="form-control"></textarea><br></div> 
    <input type="submit">
  </form>
</h4>
<br><br>